body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

#game-container {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #666;
}

button {
    font-size: 1.2em;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ddd;
}

.synonym-button {
    background-color: #f0f8ff;
    border: 1px solid #ccc;
}

p {
    font-size: 1.2em;
    margin-top: 20px;
    color: #333;
}
